/*
   * Style for the whole application
*/


// font-family: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


$blue:  #2F80ED;
$black: #000000;
$white: #FFFFFF;
$red: #EB5757;
$light-gray: #828282;
$dark-gray: #333333;


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    text-align: center;
    letter-spacing: -0.045em;
    color: $dark-gray;
}

// .title { }

.filter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
    position: relative;

    .btn-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .selected {
        width: 7rem;
        height: 4px;
        background: #2F80ED;
        border-radius: 4px 4px 0px 0px;
        z-index: 50;
        transition: all ease-in-out 500ms;
    }
    
    button {
        border: none;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        width: 8rem;
        height: 5rem;
    }

    hr {
        position: absolute;
        bottom: 0;
        border-top: 1px solid $light-gray;
        width: 100%;
    }
}

form {
    display: flex;
    width: 100%;
    margin-top: 2.5rem;

    button {
        padding: 2rem 4rem;
        background-color: $blue;
        box-shadow: 0px .2rem .6rem rgba(127, 177, 243, 0.4);
        border-radius: 1.2rem;
        border: none;
        cursor: pointer;
        margin-left: 2rem;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: $white;
        transition: all 200ms;

        &:hover {
            background-color: rgba($blue, .8);
        }
    }

    input {
        width: 80%;
        padding: 2rem;
        border: 1px solid $light-gray;
        border-radius: 1.2rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: $black;

        &:focus {
            border: 1px solid $light-gray;
            outline: none !important;
        }
    }
}

.list {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    input {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1.5rem;
    cursor: pointer;
   }

   label {
    width: 90%;
    word-wrap: break-word
   }

   li {
    list-style: none;
    display: flex;
    align-items: start;
    margin-bottom: 2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
}

.checked {
    text-decoration: line-through;
}

.list-completed {
    @extend .list;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    li {
        display: flex;
        justify-content: space-between;
    }

    .li-wrapper {
        display: flex;
        align-items: flex-start;
    }

    label {
        flex: 1;
        word-wrap: break-word;
        min-height: 2rem;

        cursor: pointer;
       }

    .btn-delete {
        border: none;
        cursor: pointer;
        background: rgba(0, 0, 0, 0);
        align-self: flex-end;
    }

    .delete-icon {
        font-size: 2rem;
        color: $light-gray;
        width: 2rem;
        background: rgba(0, 0, 0, 0);
    }
}

.btn-delete-all {
    padding: 1.5rem 3.5rem;
    background-color: $red;
    box-shadow: 0px .2rem .6rem rgba(127, 177, 243, 0.4);
    border-radius: 1.2rem;
    border: none;
    cursor: pointer;
    color: $white;
    align-self: flex-end;
    margin-top: 2rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    transition: all 200ms;

    &:hover {
        background-color: rgba($red, .8);
    }

    display: flex;
    column-gap: 0.5rem;
    align-items: center;

    svg {
        color: $white;
        font-size: 1.8rem;
    }
}

.btn-sticky {
    cursor: pointer;
    position: fixed;
    float: right;
    right: 2rem;
    bottom: 2rem;

    width: 6.4rem;
    height: 6.4rem;
    border: none;
    border: 2px solid $blue;
    border-radius: 50%;
    border-color: $blue;
    background-color: $white;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 250ms ease-in-out;

    svg {
        font-size: 2.5rem;
        transform: translateX(-.2rem);
        color: $blue;
    }

    &:hover {
        transform: translateY(-0.5rem);
    }
}

.atrr {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 17px;
    color: #A9A9A9;
    margin-top: auto;
    text-align: center;
    
    a {
        font-weight: 600;
        text-decoration: none;
        color: #878787;
        transition: 200ms;

        &:hover {
            color: #4d4c4c;
            text-decoration: underline;
        }
    }
}